<div class="container">  
    
  <h2>{{ 'dashboard.title' | translate }}</h2>

  <div class="grid grid-3">
    <div class="tile">
      <div class="tile-header">
        <p>{{ 'dashboard.last_order' | translate }}</p>
      </div>
      <div class="tile-body">
        <h3>{{data.lastOrder.order_number}}</h3>
        <h4>{{data.lastOrder.total}} €</h4>
      </div>
    </div>
    <div class="tile">
      <div class="tile-header">
        <p>{{ 'dashboard.incoming_order' | translate }}</p>
      </div>
      <div class="tile-body">
        <h3>{{data.maxOrder.order_number}}</h3>
        <h4>{{data.maxOrder.total}} €</h4>
      </div>
    </div>
    <div class="tile">
      <div class="tile-header">
        <p>{{ 'dashboard.total' | translate }}</p>
      </div>
      <div class="tile-body">
        <h3>{{data.totalOrders.totalone}}</h3>
      </div>
    </div>
  </div>

  <div class="grid grid-2">
    <div class="tile">
      <div class="tile-header">
        {{ 'dashboard.last_orders_title' | translate }}
      </div>
      <div class="tile-body">
        <table>
          <thead>
            <tr>
              <th>{{ 'dashboard.order_number' | translate }}</th>
              <th>{{ 'dashboard.order_date' | translate }}</th>
              <th>{{ 'dashboard.order_status' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of data.lastFiveOrders">
              <td>{{ order.order_number }}</td>
              <td>{{ order.date }}</td>
              <td>{{ order.status }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="tile">
      <div class="tile-header">
        {{ 'dashboard.shipped_orders_title' | translate }}
      </div>
      <div class="tile-body">
        <table>
          <thead>
            <tr>
              <th>{{ 'dashboard.ldv' | translate }}</th>
              <th>{{ 'dashboard.delivery_date' | translate }}</th>
              <th>{{ 'dashboard.delivery_status' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let delivery of data.maxFiveOrders">
              <td>{{ delivery.order_number }}</td>
              <td>{{ delivery.date }}</td>
              <td>{{ delivery.status }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
