<div class="container">
<div class="filters" *ngIf="user.role !== 'CAT'">
  <form (ngSubmit)="applyFilters()">

    <!-- ADM: Selezione gruppo -->
    <select *ngIf="user?.role === 'ADM'" [(ngModel)]="filters.group" name="group" (change)="onGroupChange()">
      <option value="">{{ 'orders.all_groups' | translate }}</option>
      <option *ngFor="let g of groups" [value]="g.code">{{ g.name }}</option>
    </select>

    <!-- ADM + SUP: Selezione sottogruppo -->
    <select 
      *ngIf="['ADM', 'SUP'].includes(user?.role)"
      [(ngModel)]="filters.subgroup"
      name="subgroup"
      [disabled]="user?.role === 'ADM' && !filters.group">
      <option value="">{{ 'orders.all_subgroups' | translate }}</option>
      <option *ngFor="let sg of subgroups" [value]="sg.code">{{ sg.name }}</option>
    </select>

    <button 
      *ngIf="['ADM', 'SUP'].includes(user?.role)"
      type="submit">
        {{ 'orders.apply' | translate }}
      </button>
  </form>
</div>

<div *ngFor="let category of categories">
  <h3>{{ category.name }}</h3>

  <div *ngFor="let sub of category.subcategories" class="tile" style="margin-bottom: 15px;">
    <h4>
        
        <app-switch 
          label="{{sub.name}}"
          [(ngModel)]="sub.isVisible"
          (change)="toggleCatVisibility(sub)">
        </app-switch>

    </h4>

    <table class="table">
      <thead>
        <tr>
          <th>{{'settings.accessories.logo' | translate}}</th>
          <th>{{'settings.accessories.product' | translate}}</th>
          <th>{{'settings.accessories.pn' | translate}}</th>
          <th>{{'settings.accessories.shown' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let brand of sub.brands">
          <tr *ngFor="let p of brand.products">
            <td><img [src]="'https://ddxtuodftkuuchpokqff.supabase.co/storage/v1/object/public/' + p.mainImage" width="40" /></td>
            <td>{{ p.name }}</td>
            <td>{{ p.pn }}</td>
            <td>
              <app-switch 
                label="{{ p.isVisible ? 'visibile' : 'nascosto' }}"
                [(ngModel)]="p.isVisible"
                (change)="toggleVisibility(p)">
              </app-switch>

            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>

</div>

</div>