<div class="order-details">


  <div *ngIf="loading">Caricamento...</div>
  <div *ngIf="error">{{ error }}</div>

  <div *ngIf="!loading && orderDetails">
    <section class="pc-component">
      <h2>Order Number {{ orderDetails.orderNumber }}</h2>
      <p>Status: {{ orderDetails.status }}</p>
      <p>Store: {{ orderDetails.dealer }}</p>
      <p>Date: {{ orderDetails.date | date:'short' }}</p>
      <p>Total: {{ orderDetails.total | currency}}</p>
    </section>

    <section class="pc-component">
      <button class="cta" *ngIf="orderDetails.statusId == 1 || orderDetails.statusId == 2">
        approva ordine
      </button>
      <button class="cta"  *ngIf="orderDetails.statusId >= 1 && orderDetails.statusId <= 3">
        annulla ordine
      </button>
      <button class="cta"  *ngIf="orderDetails.statusId == 4 || orderDetails.statusId == 5">
        richiedi annullamento ordine
      </button>
      <button class="cta"  *ngIf="orderDetails.statusId == 8">
        segna come ricevuto
      </button>
      <button class="cta"  *ngIf="orderDetails.statusId == 9">
        richiedi reso
      </button>
    </section>

    <section class="pc-component">
      <h3>PC</h3>
      <div class="pc-header">
        <p><strong>PC:</strong> {{ orderDetails.pc.pcPn }} (x{{ orderDetails.pc.pcQty }})</p>
        <button (click)="togglePcDetails()" class="cta">
          {{ showPcComponents ? 'Hide details' : 'See details' }}
        </button>
      </div>

      <div *ngIf="showPcComponents" class="pc-components">
        <div class="grid">
          <div *ngFor="let comp of orderDetails.pc.components" class="card">
            <img [src]="IMAGES_REMOTE_URL + comp.image" alt="{{ comp.name }}" />
            <p>{{ comp.name }}</p>
          </div>
        </div>
      </div>
    </section>


    <section *ngIf="orderDetails.accessories?.length">
      <h3>Accessori</h3>

      <div *ngFor="let a of orderDetails.accessories" class="section">
        <img [src]="IMAGES_REMOTE_URL + a.image" alt="{{ a.name }}" class="thumb" />
        <p>{{ a.name }}</p>
      </div>

    </section>

    <section *ngIf="orderDetails.extraComponents?.length">
      <h3>Componenti Extra</h3>
      <div class="grid">
        <div *ngFor="let e of orderDetails.extraComponents" class="section">
          <img [src]="IMAGES_REMOTE_URL + e.image" alt="{{ e.name }}" class="thumb"/>
          <p>{{ e.name }}</p>
        </div>
      </div>
    </section>
  </div>

</div>
