<div class="table-container">
<input
  class="search-input"
  [ngModel]="searchTerm()"
  (ngModelChange)="searchTerm.set($event)"
  placeholder="{{'layout.search' | translate}}" />

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th *ngFor="let col of columns" (click)="sortBy(col.key)" style="cursor: pointer">
          {{ col.label | translate}}
          <span *ngIf="sortColumn() === col.key">
            {{ sortDirection() === 'asc' ? '▲' : '▼' }}
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of pagedData()">
        <td *ngFor="let col of columns">
          <!-- Currency -->
          <ng-container *ngIf="col.type === 'currency'">
            {{ row[col.key] | currency:col.currency || 'EUR':'symbol':'1.2-2' }}
          </ng-container>

          <!-- Date -->
          <ng-container *ngIf="col.type === 'date'">
            {{ row[col.key] | date:col.format || 'yyyy-MM-dd' }}
          </ng-container>

          <!-- Link -->
          <ng-container *ngIf="col.type === 'link'">
            <a [routerLink]="[col.path, row[col.key]]" class="cta">{{'layout.details' | translate}}</a>
          </ng-container>

          <!-- Button -->
          <ng-container *ngIf="col.type === 'button'">
            <button (click)="onButtonClick(col.action, row, col)">{{col.label}}</button>
          </ng-container>

          <!-- Default / Text -->
          <ng-container *ngIf="!col.type || col.type === 'text'">
            {{ row[col.key] }}
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="pagination">
  <button (click)="setPage(page() - 1)" [disabled]="page() === 1">« {{'layout.prev' | translate}}</button>
  <span>{{'layout.page' | translate}} {{ page() }} {{'layout.of' | translate}} {{ totalPages }}</span>
  <button (click)="setPage(page() + 1)" [disabled]="page() === totalPages">{{'layout.next' | translate}} »</button>
</div>

</div>
