<div class="container">

  {{user | json}}
  <div class="form-group">
    <form (ngSubmit)="save()">
      <h2>{{ 'addresses.add_new_address' | translate}}</h2>
      <div class="line"></div>

      <label>{{ 'subgroups.group' | translate}}</label>
      <select 
          [(ngModel)]="filters.group" 
          name="group" 
          [disabled]="user?.role !== 'ADM'"
          (change)="onGroupChange()">
        <option value="">{{ 'orders.all_groups' | translate }}</option>
        <option *ngFor="let g of groups" [value]="g.code">{{ g.name }}</option>
      </select>

      <label>{{ 'stores.subgroup' | translate}}</label>
      <select 
        [(ngModel)]="filters.subgroup"
        name="subgroup"
        [disabled]="!['ADM','SUP'].includes(user?.role)"
        (change)="onSubgroupChange()">
        <option value="">{{ 'orders.all_subgroups' | translate }}</option>
        <option *ngFor="let sg of subgroups" [value]="sg.code">{{ sg.name }}</option>
      </select>

      <label>{{ 'addresses.store' | translate}}</label>
      <select 
        [(ngModel)]="filters.store"
        name="store"
        [disabled]="!['ADM','SUP','CAT'].includes(user?.role)">
        <option value="">{{ 'orders.all_stores' | translate }}</option>
        <option *ngFor="let s of stores" [value]="s.store_code">{{ s.name }}</option>
      </select>

      <label>{{ 'addresses.label' | translate}}</label>
      <input type="text" [(ngModel)]="formData.label" name="label" required />

      <label>{{ 'addresses.vat_number' | translate}}</label>
      <input type="text" [(ngModel)]="formData.vat_number" name="vat_number" required />

      <label>{{ 'addresses.contact' | translate}}</label>
      <input type="text" [(ngModel)]="formData.contact" name="contact" required />
      
      <label>{{ 'addresses.address_line_1' | translate}}</label>
      <input type="text" [(ngModel)]="formData.address1" name="address1" required />
      
      <label> {{ 'addresses.address_line_2' | translate}}</label>
      <input type="text" [(ngModel)]="formData.address2" name="address2" />
      
      <label>{{ 'addresses.zip' | translate}}</label>
      <input type="text" [(ngModel)]="formData.zip" name="zip" required />
      
      <label>{{ 'addresses.city' | translate}}</label>
      <input type="text" [(ngModel)]="formData.city" name="city" required />
      
      <label>{{ 'addresses.province' | translate}}</label>
      <input type="text" [(ngModel)]="formData.province" name="province" required />
      
      <label>{{ 'addresses.country' | translate}}</label>
      <input type="text" [(ngModel)]="formData.country" name="country" required />
      
      <label>{{ 'addresses.phone' | translate}}</label>
      <input type="text" [(ngModel)]="formData.phone" name="phone" />
      
      <label>{{ 'addresses.email' | translate}}</label>
      <input type="email" [(ngModel)]="formData.email" name="email" />

      <app-switch 
        label="{{ 'addresses.default_address' | translate}}" 
        [(ngModel)]="formData.isDefault" 
        name="isDefault" >
      </app-switch>

      <div class="row">
        <button type="submit">{{ 'layout.save' | translate}}</button>
        <button type="button" (click)="cancel()">{{ 'layout.cancel' | translate}}</button>
      </div>
    </form>
  </div>
</div>
