.container {
    padding: 2rem;
    background: $bg-color;
    color: $text-color;

    .grid {
        display: grid;
        gap: 1rem;
        margin-bottom: 2rem;

        &.grid-2 {
            grid-template-columns: 1fr 1fr;
        }

        &.grid-3 {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    .row {
        display: flex;
        gap: 1rem;
        margin-bottom: 2rem;
    }

    .col {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 2rem;
    }

    .filters {
        margin-bottom: 2rem;
        background: $surface-color;
        padding: 1rem;
        border-radius: $radius;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        align-items: center;

        form {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            width: 100%;
        }
    }

    .tile {
        position: relative;
        background: $surface-color;
        flex: 1;
        padding: 1rem;
        border-radius: $radius;

        .tile-header {
            font-weight: 600;
            margin-bottom: 1rem;
        }

        .tile-body {
            box-shadow: $shadow-light;
        }

        .tile-buttons {
            display: flex;
            gap:11px;
            justify-content: end;
            position: absolute;
            bottom: 15px;
            right:15px;

            button {
                padding: 0.5rem 1rem;
                font-size: 0.9rem;
                background: $accent-color;
                color: white;
                border: none;
                border-radius: 0.3rem;
                cursor: pointer;
                transition: background 0.2s ease;
                flex: 0 0 auto;

                &:hover {
                background: $accent-color;
                }
            }            
        }

        p {
            font-size: 0.875rem;
            color: $text-color ;
        }

        h3 {
            font-size: 1.5rem;
            margin: 0;
        }
    }

    form {
        display: grid;
        gap: 0.5rem;

        select,
        input {
            padding: 0.5rem 0.75rem;
            font-size: 0.9rem;
            border: 1px solid #ccc;
            border-radius: 0.3rem;
            background: #f9f9f9;
            min-width: 180px;
            flex: 1 1 auto;

            &:focus {
            outline: none;
            border-color: $primary-color;
            background: #fff;
            }
        }

        button {
            padding: 0.5rem 1rem;
            font-size: 0.9rem;
            background: $accent-color;
            color: white;
            border: none;
            border-radius: 0.3rem;
            cursor: pointer;
            transition: background 0.2s ease;
            flex: 0 0 auto;

            &:hover {
            background: $accent-color;
            }
        }
    }

    .form-group {
        display: flex;
        flex-direction: column;
        width: 75%;
        background-color: $surface-color;
        padding: 15px;
        margin-left: 12.5%;

        button {
            margin-top: 15px;
        }
    }

    .line {
        height: 1px;
        border-top: 1px solid $border-color;
        margin-top: 11px;
        margin-bottom: 11px;
    }

    .fab {       
        position: fixed;
        bottom:35px;
        right: 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:15px;


        button {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            background-color: $accent-color;
            color: $surface-color;
            border: none;
        }

        label {
            background-color: transparent;
            border: none;
            color: $accent-color;
        }
    }
}