// Typography Styles

body {
  font-family: 'Roboto', sans-serif;
  color: $text-color;
  font-size: 16px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: $heading-color;
}

p {
  margin-bottom: 1rem;
  color: $text-color;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

 table {
      width: 100%;
      border-collapse: collapse;

      th, td {
        text-align: left;
        padding: 0.5rem;
        border-bottom: 1px solid $border-color;
        font-size: 0.875rem;
      }

      th {
        font-weight: 500;
        color: $heading-color;
      }

      tr:last-child td {
        border-bottom: none;
      }
    }