<section class="categories">
  <h2>{{ 'editor.categories.title' | translate }}</h2>

  <div 
    cdkDropList 
    (cdkDropListDropped)="drop($event)"    
    class="draggable-list">

    <div *ngFor="let cat of categories" cdkDrag class="draggable-item">
      <span class="drag-handle material-icons">drag_handle</span>
      {{ cat.view_order }} - {{ cat.code }} - {{ cat.category }}
      <a class="details"  (click)="seeDeatais()">Details</a>
    </div>
  </div>

  <button class="reset" (click)="resetOrder()">{{ 'editor.categories.reset_order' | translate }}</button>

  <p class="error" *ngIf="error">{{ error }}</p>
</section>
