.logout-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #fff;
  background: #dc3545;
  transition: background 0.2s;
  width: 220px;
  border-radius: 10px;

  .material-icons {
    margin-right: 0.5rem;
  }

  &:hover {
    background: #c82333;
  }
}
